html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, a
form, input,img div {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'League Spartan';
}

/*Untuk Bagian Header*/

header{
    background-color: #0000FF;
    color: #fff;
    height: 54px;
}

.header-brand{
    float:left;
    font-size: 27px;
    font-weight: normal;
    padding-top:15px;
    padding-left: 20px;
}

.header-name{
    float: right;
    padding-top:20px;
    padding-right:20px;
    font-size: 13px;
}

/*Untuk bagian isi*/
.main{
    width: 715px;
    height: 269px;
    padding-left: 430px;
    padding-top: 30px;
}

.main-guide h2{
    font-size: 50px;
    color: #000C66;
    text-align: center;
    padding-bottom: 10px;
}

.main-guide h3{
    color: #000C66;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 10px;

}
.icondesc{
    padding-left: 300px;
    padding-right: 350px;
    padding-top: 25px;
    padding-bottom: 25px;
}
img{
    height: 100px;
    width: 100px;
    border: 1px solid #0000FF;
    border-radius: 100px;
    background-color: #0000FF;
}


.input-session{
    padding-left: 60px;
}


.input-session input{
    height: 41px;
    width: 496px;
    border: 1px solid #000C66;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    color:#fff;
    background-color: #0000FF;
    border: none;
    padding:15px;
    cursor:pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #5757ff;
}

.result{
    padding-top: 50px;
}

.result h2{
    font-size: 50px;
    color: #000C66;
    text-align: center;
    padding-bottom: 10px;
}

.result h3{
    color: #000C66;
    text-align: center;
    font-weight: normal;
    font-size: 20px;

}

.forHum, .forWin p{
    color: #000C66;
}

.forHum p{
    float:left;
    padding-right: 100px;
}

.forWin p{
    float:right;

}

.HumWin{
    padding-left: 200px;
    padding-top: 30px;
}
